@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Suity an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Suity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="~/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.form.min.js"></script>
    <script>
$(document).ready(function (c) {
    $('.alert-close').on('click', function (c) {
        $('.message').fadeOut('slow', function (c) {
            $('.message').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close1').on('click', function (c) {
        $('.message1').fadeOut('slow', function (c) {
            $('.message1').remove();
        });
    });
});
    </script>
    <script>
$(document).ready(function (c) {
    $('.alert-close2').on('click', function (c) {
        $('.message2').fadeOut('slow', function (c) {
            $('.message2').remove();
        });
    });
});
    </script>
</head>
<body>
    <div class="index-banner">
        <div class="container">
            <div class="header_top">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home" )"><img src="~/images/logo.png" alt="" /></a>
                </div>
                <div class="header-bottom-right">
                    <ul class="icon1 sub-icon1 profile_img">
                        <li>
                            <a class="active-icon c1" href="#">Mi Carrito </a><div id="nroProductosCarrito" class="rate">0</div>
                            <ul class="sub-icon1 list">
                                <h3 id="nroProductosCarrito">Productos recientes (</a><div id="nroProductosCarrito" class="rate">0</div>)</h3>
                                <h5>

                                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        <a href="@Url.Action("RegistrarV", "Home" )" role="button" data-toggle="modal"> Registrar </a>
                                    }
                                    else
                                    {
                                        <a href="#">Hola @WebMarket.Controllers.HomeController.ObtenerNombreUsuario()</a>
                                        <text> o </text>
                                        <a href="@Url.Action("Logout", "Home" )"> Cerrar Sesion </a>
                                    }


                                </h5>
                                <div class="shopping_cart">
                                    <div id="itemcarrito"></div>
                                </div>
                                <div class="total">
                                    <div class="total_left">Total : </div>
                                    <div id="totalCompraCarrito" class="total_right">S/. 0.00</div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="login_buttons">
                                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                    {
                                        <div class="check_button"><a href="@Url.Action("Paso01", "Compra")">Pagar</a></div>
                                    }
                                    else
                                    {
                                        <div class="check_button"><a href="@Url.Action("LoginVista", "Home")">Pagar</a></div>
                                    }
                                    <div class="login_button"><a href="@Url.Action("LoginVista", "Home")">Login</a></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="menu">
                    <a href="#" class="right_bt" id="activator"><img src="~/images/menu.png" alt="" /></a>
                    <div class="box" id="box">
                        <div class="box_content_center">
                            <div class="menu_box_list">
                                <ul>
                                    <li><a href="@Url.Action("Buscar","Home")">New Arrivals</a></li>
                                    <li class="active"><a href="@Url.Action("Buscar","Home")">Venta</a></li>
                                    <li><a href="@Url.Action("Buscar","Home")">Coleccion</a></li>
                                    <li><a href="about.html">Acerca</a></li>
                                    <li><a href="@Url.Action("Contacto", "Home")">Contacto</a></li>
                                </ul>
                            </div>
                            <a class="boxclose" id="boxclose"><img src="~/images/close.png" alt="" /></a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var $ = jQuery.noConflict();
                        $(function () {
                            $('#activator').click(function () {
                                $('#box').animate({ 'left': '0px' }, 500);
                            });
                            $('#boxclose').click(function () {
                                $('#box').animate({ 'left': '-2300px' }, 500);
                            });
                        });
                        $(document).ready(function () {
                            //Hide (Collapse) the toggle containers on load
                            $(".toggle_container").hide();
                            //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
                            $(".trigger").click(function () {
                                $(this).toggleClass("active").next().slideToggle("slow");
                                return false; //Prevent the browser jump to the link anchor
                            });
                        });
                    </script>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="wmuSlider example1">
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>Que esperas.</h1>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>No pierdas tiempo.</h1>
                </div>
            </article>
            <article style="position: absolute; width: 100%; opacity: 0;">
                <div class="banner-wrap">
                    <h1>Compra ya!.</h1>
                </div>
            </article>
        </div>
        <script src="~/js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider();
        </script>
    </div>
    <div class="container">
        <div class="col-md-3 about_sidebar">
            <ul class="menu1">
                <li class="item1">
                    <a href="#" class="">Qué comprar ?<img class="arrow-img" src="~/images/arrow.png" alt="" /> </a>
                    <ul class="cute" style="display: none; overflow: hidden;">
                        <li class="subitem1"><a href="single.html">Cute Kittens </a></li>
                        <li class="subitem2"><a href="single.html">Strange Stuff </a></li>
                        <li class="subitem3"><a href="single.html">Automatic Fails </a></li>
                    </ul>
                </li>
            </ul>
            <!--initiate accordion-->
            <script type="text/javascript">
                    $(function () {
                        var menu1_ul = $('.menu1> li > ul'),
                               menu1_a = $('.menu1 > li > a');
                        menu1_ul.hide();
                        menu1_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu1_a.removeClass('active');
                                menu1_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });
                    });
            </script>
            <div class="box1">
                <ul class="box1_list">
                    <li><a href="@Url.Action("Buscar","Home")">Arduino</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">ElectroShop</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Drones</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Sensores</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">PIC</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Raspberry</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Pantallas</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Circuitos Integrados</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">Baterías</a></li>
                    <li><a href="@Url.Action("Buscar","Home")">AVR</a></li>
                </ul>
            </div>
            <ul class="box2_list">
                <li><a href="@Url.Action("Buscar","Home")">Nuevos Productos</a></li>
                <li><a href="@Url.Action("Buscar","Home")">venta</a></li>
                <li><a href="@Url.Action("Buscar","Home")">Colecciones</a></li>
                <li><a href="@Url.Action("Buscar","Home")">Mystery</a></li>
                <li><a href="@Url.Action("Buscar","Home")">Story Behind</a></li>
                <li><a href="@Url.Action("Buscar","Home")">Acerca</a></li>
                <li><a href="@Url.Action("Buscar","Home")">Contactos</a></li>
            </ul>
            <ul class="box3_list">
                <li><a href="#">New Arrivals</a></li>
                <li><a href="#">Sales</a></li>
                <li><a href="#">Collection '15</a></li>
                <li><a href="#">Mystery</a></li>
                <li><a href="#">Story Behind</a></li>
                <li><a href="#">About US</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="content_top">


            <div class="col-md-9 content_right">
                <div class="content_right-box">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="jumbotron" style="padding=0;">
                                <form class="form-horizontal" role="form" method="get" action="@Url.Action("Buscar","Home")">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="input-group">
                                                <input type="text" name="id" id="navSearchInput" class="form-control" placeholder="Buscar en tienda ...">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" type="submit">Buscar!</button>
                                                </span>
                                            </div><!-- /input-group -->
                                        </div><!-- /.col-lg-6 -->
                                    </div><!-- /.row -->
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="grid1">
                            <h5>CIRCUITOS INTEGRADOS</h5>
                            <div class="view view-first">
                                <img src="~/images/CI.png" class="img-responsive" alt="" />
                                <a href="single.html">
                                    <div class="mask">
                                        <h3>Quick Look</h3>
                                        <p>-----Or----</p>
                                        <h4>Add To Basket</h4>
                                    </div>
                                </a>
                            </div>
                            <h6>$499</h6>
                        </div>
                        <div class="grid1 box4">
                            <h5>SENSORES</h5>
                            <div class="view view-first">
                                <img src="~/images/sensor.png" class="img-responsive" alt="" />
                                <a href="single.html">
                                    <div class="mask mask1">
                                        <h3>Quick Look</h3>
                                        <p>-----Or----</p>
                                        <h4>Add To Basket</h4>
                                    </div>
                                </a>
                            </div>
                            <h6>$59</h6>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a href="single.html">
                            <div class="grid2">
                                <div class="view view-first">
                                    <img src="~/images/PC.png" class="img-responsive" alt="" />
                                    <h5>AVR</h5>
                                    <h6>$55</h6>
                                </div>
                        </a>
                    </div>
                    <a href="single.html">
                        <div class="grid2 span_1">
                            <div class="view view-first">
                                <img src="~/images/modulo.png" class="img-responsive" alt="" />
                                <h5>MODULOS</h5>
                                <h6>$244</h6>
                            </div>
                        </div>
                    </a>
                    <a href="single.html">
                        <div class="grid2 span_1">
                            <div class="view view-first">
                                <img src="~/images/drone.jpg" class="img-responsive" alt="" />
                                <h5>DRONES</h5>
                                <h6>$199</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="box3">
                <div class="col-md-4">
                    <a href="single.html">
                        <div class="grid3 view view-first">
                            <img src="~/images/arduino.png" class="img-responsive" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="single.html">
                        <div class="grid3  view view-first">
                            <img src="~/images/panatlla.png" class="img-responsive" alt="" />
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="single.html">
                        <div class="grid3 view view-first">
                            <img src="~/images/CI.png" class="img-responsive" alt="" />
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="box4">
                <div class="col-md-6">
                    <div class="grid1">
                        <h5>BATERIAS</h5>
                        <div class="view view-first">
                            <img src="~/images/bateria.png" class="img-responsive" alt="" />
                            <a href="single.html">
                                <div class="mask mask2">
                                    <h3>Quick Look</h3>
                                    <p>-----Or----</p>
                                    <h4>Add To Basket</h4>
                                </div>
                            </a>
                        </div>
                        <h6>$199</h6>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="grid1">
                        <h5>PIC</h5>
                        <div class="view view-first">
                            <img src="~/images/PC.png" class="img-responsive" alt="" />
                            <a href="single.html">
                                <div class="mask mask2">
                                    <h3>Quick Look</h3>
                                    <p>-----Or----</p>
                                    <h4>Add To Basket</h4>
                                </div>
                            </a>
                        </div>
                        <h6>$295</h6>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <img src="~/images/logo.png" alt="" />
            <p><a href="mailto:info@mycompany.com">info(at)suity.com</a></p>
            <div class="copy">
                <p>2018 All Rights Reseverd Template by <a href="http://w3layouts.com/">W3layouts</a> </p>
            </div>
            <ul class="social">
                <li><a href="#"> <i class="fb"> </i> </a></li>
                <li><a href="#"> <i class="tw"> </i> </a></li>
            </ul>
        </div>
    </div>
    <script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargaCarrito(productos);
            }
        });
        function CargaCarrito(productos) {
            var html = '';
            var total = 0;
            $("#nroProductosCarrito").text('(' + productos.length + ')');

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<div class="cart_box" id="itemcarrito">' +
                       '    <div class="image">' +
                       '<div class="message">' +
                       '<div class="alert-close"> </div>' +
                       '<div class="list_img"><img src="/ImgProductos/' + this.Imagen + '" class="img-responsive" alt="" /></div>' +

                '           <div class="list_desc">' +
                ' <h4><a href="#">' + this.Denominacion + '</a></h4>' + this.Cantidad + 'x <span class="actual">' + this.Precio + ' </span> </div> <div class="clearfix"></div></div>   </div></div> </div>'

                ;
            });
            $('#itemcarrito').html(html);

            $("#totalCompraCarrito,#totalCarrito").text('S/.' + total);

        }

        function AgregarCarrito(productoid, denominacion, imagen, precio) {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
            }

            var itemActual;
            for (var i = 0; i < productos.length; i++) {
                if (productos[i].ProductoId == productoid) {
                    itemActual = productos[i];
                }
            }

            if (!itemActual) {
                productos.push({ ProductoId: productoid, Denominacion: denominacion, Precio: precio, Cantidad: 1, Imagen: imagen });
            } else {
                itemActual.Cantidad++;
            }

            var jsonStr = JSON.stringify(productos);
            localStorage.setItem("carrito", jsonStr);

            CargaCarrito(productos);

        }

    </script>
</body>
</html>	

